<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>استرجاع كلمة المرور</title>

    <link href="css1/bootstrap.min1.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img1/law-favicon.svg">

    <link href="css1/animate1.css" rel="stylesheet">
    <link href="css1/style1.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">استرجاع كلمة المرور</h2>

                    <p>
                        أدخل عنوان بريدك الإلكتروني وسيتم إعادة تعيين كلمة المرور الخاصة بك وإرسالها إليك عبر البريد الإلكتروني
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="index.html">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="البريد الإلكتروني" required="">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">أرسل كلمة مرور جديدة</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                © All rights reserved | FSDM
            </div>
            <div class="col-md-6 text-right">
               <small>2020 - 2021</small>
            </div>
        </div>
    </div>

</body>

</html>
