<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{label.form.title}"></title>
<!-- <link href="css1/bootstrap.min1.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/style_registration.css">
<link rel="stylesheet" href="font/material-design-iconic-font/css/material-design-iconic-font.min.css">
<link href="css1/plugins/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet">
<link rel="icon" type="image/png" href="img1/law-favicon.svg">
	<style type="text/css">
    	@import url('https://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
    	*{
    		font-family: 'Droid Arabic Kufi';
    	}
    </style>
<style>
.password-verdict{
color:#000;
}
</style>
<!-- <script src="js1/jquery-3.1.1.min.js"></script> -->
<script src="js1/popper.min.js"></script>
<!-- <script src="js1/bootstrap1.js"></script> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/resources/pwstrength.js}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<title th:text="#{label.form.title}">form</title>
</head>
<body class="rtls">
    <div class="wrapper" id="wrapper" style="background-image: url('img/logo-background.jpg');">
        <div class="inner" id="ibox-content">
         <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
          </div>
        <a  th:href="@{/index}"><img src="img1/justice-blue.png" width="200" alt="Menu principal"  class="logo" style="display: block;margin: 0 auto;padding-top: 20px;" /></a>
            <br/><br/>
            <form action="/" method="POST" enctype="utf8" >
             <h3 th:text="#{label.form.title}">form</h3>
                <div class="form-group" >
                <div class="form-wrapper">
                    <label  th:text="#{label.user.firstName}">first</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="" />
                    <span id="firstNameError" class="form-wrapper-InputWrapper_explain" style="display:none"></span>
                 </div> 
                 <div class="form-wrapper">
							<label th:text="#{label.user.lastName}">last</label>
                           <input class="form-control" id="lastName" name="lastName" value="" />
                            <span id="lastNameError" class="form-wrapper-InputWrapper_explain" style="display:none"></span>
						</div>  
                </div>
             <div class="form-wrapper">
                    <label  th:text="#{label.user.phone}">last</label>
                    <input type="tel" class="form-control" id="tel" name="tel" value="" />
                    <span id="telError" class="form-wrapper-InputWrapper_explain" style="display:none"></span>
                   <span id="telValid" class="form-wrapper-InputWrapper_explain" style="display:none"></span>
                  </div>  
                  <div class="form-group" >
                <div class="form-wrapper">
                    <label  th:text="#{label.user.email}">email</label>
                    <input  class="form-control" id="email" name="email" value="" />                  
                    <span id="emailError" class="form-wrapper-InputWrapper_explain" style="display:none"></span>
                    <span id="emailValid" class="form-wrapper-InputWrapper_explain" style="display:none"></span>
                 </div> 
              <!--     <div class="form-wrapper">
							<label  th:text="#{label.user.confirmemail}">email</label>
                    <input type="email" class="form-control" name="email" value="" required="required"/>                  
                    <span id="emailError" class="alert alert-danger" style="display:none"></span>
						</div>  -->
                </div>   
                <div class="form-wrapper">
                    <label  th:text="#{label.user.password}">password</label>
                    <input id="password" class="form-control" name="password" value="" type="password" />
                    <span id="passwordError" class="form-wrapper-InputWrapper_explain" style="display:none"></span>
                 </div>  
                <div class="form-wrapper">
                    <label  th:text="#{label.user.confirmPass}">confirm</label>
                    <input id="matchPassword" class="form-control" name="matchingPassword" value="" type="password" />
                    <span id="globalError" class="form-wrapper-InputWrapper_explain " style="display:none"></span>
                    <span id="matchPasswordError" class="form-wrapper-InputWrapper_explain " style="display:none"></span>
                 </div> 
                <!-- <div class="checkbox">
                    <label >
                    <input type="checkbox" th:name="#{label.user.2fa}" value="true"/> <span th:text="#{label.user.2fa}"></span>
                    <span class="checkmark"></span>
                    </label>
                </div> -->
                <button id= "idsubmit" type="submit" class="btn btn-primary" th:text="#{label.form.submit}">submit</button>
            </form>
             <a class="button1 btn btn-primary" th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
           <!--  <div class="signup-image">
                        <figure><img src="img/logo-site.svg" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">I am already member</a>
                    </div>--> 
        </div>
         
    </div>

<script th:inline="javascript">
var serverContext = [[@{/}]];

$(document).ready(function () {
	$('form').submit(function(event) {
		register(event);
	});
	
	$(":password").keyup(function(){
		if($("#password").val() != $("#matchPassword").val()){
	        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
	    }else{
	    	$("#globalError").html("").hide();
	    }
	});
	
	$("#firstName")
    .mouseup(function() {
    	$("#firstNameError").html("").hide(); 
      })
    .mousedown(function() {
        	$("#firstNameError").html("").hide();
        	
    });
	$("#lastName")
    .mouseup(function() {
    	$("#lastNameError").html("").hide(); 
      })
    .mousedown(function() {
        	$("#lastNameError").html("").hide();
        	
    });
	$("#tel")
    .mouseup(function() {
    	$("#telError").html("").hide(); 
    	("#telValid").html("").hide(); 
      })
    .mousedown(function() {
        	$("#telError").html("").hide();
        	("#telValid").html("").hide(); 
        	
    });
	$("#email")
    .mouseup(function() {
    	$("#emailError").html("").hide(); 
    	$("#emailValid").html("").hide(); 
      })
    .mousedown(function() {
        	$("#emailError").html("").hide();
        	$("#emailValid").html("").hide();  	
    });
	$("#password")
    .mouseup(function() {
    	$("#passwordError").html("").hide(); 
      })
    .mousedown(function() {
        	$("#passwordError").html("").hide();
        	
    });

       /*  $('#idsubmit').on('click', function(){
        $('#wrapper').children('.inner').toggleClass('sk-loading'); 
        	// $(this).loadButton('on');
        }); */

   
	
	options = {
		    common: {minChar:8},
		    ui: {
		    	showVerdictsInsideProgressBar:true,
		    	showErrors:true,
		    	errorMessages:{
		    		  wordLength: /*[[#{error.wordLength}]]*/,
		    		  wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
		    		  wordSequences: /*[[#{error.wordSequences}]]*/,
		    		  wordLowercase: /*[[#{error.wordLowercase}]]*/,
		    		  wordUppercase: /*[[#{error.wordUppercase}]]*/,
		    	          wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
		    		  wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
		    		}
		    	}
		};
	 $('#password').pwstrength(options);
});

function register(event){
	event.preventDefault();
    $(".alert").html("").hide();
    $(".error-list").html("");
    if($("#password").val() != $("#matchPassword").val()){
    	$("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
    	return;
    }
    if($("#firstName").val() == ""){
    	$("#firstNameError").show().html(/*[[#{champs.user}]]*/);
    	return;
    }
    if($("#lastName").val() == ""){
    	$("#lastNameError").show().html(/*[[#{champs.user}]]*/);
    	return;
    }
    if($("#tel").val() == ""){
    	$("#telError").show().html(/*[[#{champs.user}]]*/);
    	return;
    }
    else{
    	if(!phonenumber($("#tel").val())){
    		$("#telValid").show().html(/*[[#{ValidTel.user.tel}]]*/);
        	return;
    	}
    }
    if($("#email").val() == ""){
    	$("#emailError").show().html(/*[[#{champs.user}]]*/);
    	return;
    }
    else{
    	if(!validateEmail($("#email").val())){
    		$("#emailValid").show().html(/*[[#{ValidEmail.user.email}]]*/);
        	return;
    	}
    	
    }
    if($("#password").val() == ""){
    	$("#passwordError").show().html(/*[[#{champs.user}]]*/);
    	return;
    }
    if($("#matchPassword").val() == ""){
    	$("#matchPasswordError").show().html(/*[[#{champs.user}]]*/);
    	return;
    }
   
    $('#wrapper').children('.inner').toggleClass('sk-loading');
    //champs.user:Champ requis  Ce champs est requis
    var formData= $('form').serialize();
    $.post(serverContext + "user/registration",formData ,function(data){
        if(data.message == "success"){ 
            window.location.href = serverContext + "successRegister.html";
        }
        
    })
    .fail(function(data) {
    	$('#wrapper').children('.inner').toggleClass('sk-loading');
        if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else if(data.responseJSON.error == "UserAlreadyExist"){
            $("#emailError").show().html(data.responseJSON.message);
        }
        else if(data.responseJSON.error.indexOf("InternalError") > -1){
            window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
        else{
        	var errors = $.parseJSON(data.responseJSON.message);
            $.each( errors, function( index,item ){
            	if (item.field){
            		$("#"+item.field+"Error").show().append(item.defaultMessage+"<br/>");
            	}
            	else {
            		$("#globalError").show().append(item.defaultMessage+"<br/>");
            	}
               
            });
        }
    });
    function validateEmail(email) 
    {
      var re = /^(?:[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/;

      return re.test(email);
    }
    
    function phonenumber(inputtxt)
    {
      var phoneno = /^\d{10}$/;
      return phoneno.test(inputtxt);
     /*  if(inputtxt.value.match(phoneno))
      {
          return true;
      }
      else
      {
         return false;
      } */
      }

}
$(function(){

    $('#toggleSpinners').on('click', function(){

        $('#ibox2').children('.ibox-content').toggleClass('sk-loading');

    })

})

</script>
</body>

</html>
